@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Open+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: 100ms cubic-bezier(0, 0, 1, 1);
}

.hide-content {
  display: none;
}

.show-content {
  display: block;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.state-layer {
  position: absolute;
  inset: 0;
  background-color: hsl(278, 44%, 96%);
  opacity: 0;
}

:has(> .state-layer):hover .state-layer {
  opacity: 0.08;
}

:has(> .state-layer):is(:focus, :focus-visible, :active) .state-layer {
  opacity: 0.12;
}

.hero {
  padding-block-start: calc(64px + 24px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
